<app-header titulo="Listado"></app-header>

<ion-content>
<br>
<p>Desde <input type="date" name="fecha1">
<br>
<br>
Hasta <input type="date" name="fecha2"></p>
<ion-list>
 <ion-item *ngFor = "let todo of fichas">
    <u>Día</u><p>: </p>
    <ion-label>{{todo.date}}</ion-label>
    <u>Actividad</u><p>: </p>
    <ion-label>{{todo.title}}</ion-label>
 </ion-item>
</ion-list>

<ion-button size="large" routerLink="/creacion">
<ion-icon name="add-circle-outline" size="large"></ion-icon>
</ion-button>
</ion-content>
