<app-header titulo="Listado"></app-header>

<ion-content>
<ion-item>
<br>
<ion-datetime type="date" placeholder="Desde" display-format="YYYY MMMM DD"
[(ngModel)]="desde"></ion-datetime>

<ion-datetime type="date" placeholder="Hasta" display-format="YYYY MMMM DD"
[(ngModel)]="hasta"></ion-datetime>

<ion-button (click)="filtrarFechas()">Filtrar</ion-button>
</ion-item>
<ion-list>
 <ion-item *ngFor = "let todo of fichas">
    <ion-label><u>Día</u><p>: </p>{{todo.date}}<br/><br/>
    <u>Actividad</u><p>: </p>{{todo.title}}</ion-label>
 </ion-item>
</ion-list>
<ion-button size="large" routerLink="/creacion">
<ion-icon name="add-circle-outline" size="large"></ion-icon>
</ion-button>
<hr>
<ion-label type="text"><h2><mark><strong>{{mensajeError}}</strong></mark></h2></ion-label>
</ion-content>
