<ion-header no-border trasnlucent>
  <ion-toolbar color="light">
  <ion-title text-capitalize>ÍNDICE</ion-title>
  <ion-back-button text="" icon="close-circle-outline" defaultHref="login" slot="end"></ion-back-button>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">

    <ion-card routerLink="/listado" color="black">
      <img class="marginauto" src="assets/img/listado.png" alt="centered image"/>
      <ion-card-content>
        <ion-card-title style="text-align:center">
        Listado de Fichas
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/creacion" color="black">
      <img class="marginauto" src="assets/img/añadir.png" alt="centered image"/>
      <ion-card-content>
        <ion-card-title style="text-align:center">
        Creación de Fichas
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/asistencia" color="black">
      <img src="assets/img/calendar.png"/>
      <ion-card-content>
        <ion-card-title style="text-align:center">
        Asistencia
        </ion-card-title>
      </ion-card-content>
    </ion-card>
</ion-content>
